body{
  color:#ffffff;
   background:#5f9ea0;
   font-family:Meiryo,'メイリオ','ヒラギノ角ゴ Pro W3';
   padding-top:50px;
}
header {
  display: flex;
  text-align: center;
  background-color: #80808080;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
footer{
  background:#80808080;
  text-align:center;
}
h1 {
  line-height:2;
}
a{
  color:#66cdaa;
}
nav{
  float:right;
  margin: 0 0 0 auto;
}
.nav-item{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  vertical-align: middle;
}
.nav-link{
  color:#ffffff;
  text-decoration:none;
}
