body{
  color:#ffffff;
   background:#5f9ea0;
   font-family:Meiryo,'メイリオ','ヒラギノ角ゴ Pro W3';
}
header {
  display: flex;
  color:#ffffff;
  text-align: center;
  background-color: #80808080;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
h1 {
  line-height: 2;
}
